html{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: #f0220e;
    cursor: pointer;
    text-decoration: underline;
} 
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;

}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title h1{
    padding-left: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 60px;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}
nav li{
    padding: 20px;
    list-style-type: none;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.portfolio{
    width: 100%;
    margin-bottom: 72px;
}
.pictures {
    position: relative;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.pictures img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin: 0 10px;
    transition: 0.3s;
}
.pictures img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.hidden {
    display: none;
}

#lightbox-overlay {
    z-index:2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
}
.lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
.lightbox img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: auto;
}
.lightbox .caption {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/* styling for about page */
.about {
    display: flex;
    flex-direction: row;
    width: 750px;
    margin-bottom: 72px;
}
.about-text {
    margin-left: 36px;
    margin-top:0;
}
.about-text h2 {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
    font-size: 36px;
    margin: 0;
}
.about-text p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}
::-webkit-scrollbar{
    width: 7px;
    
}
::-webkit-scrollbar-track{
    margin-top:10px;
    margin-bottom:10px;
}
::-webkit-scrollbar-thumb{
    background:  #f0220e;
    border-radius: 5px;
    padding: 10px;
}
#decoration svg{
    z-index: 1;
    position: absolute;
    top: -100px;
    left: -100px;
    animation-name: spin;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}
.about-text svg{
    margin-top: 10px;
    height: 40px;
    width: 40px;
}
.about-text svg:hover{
    opacity:0.7;
}
@keyframes spin {
    from {
        opacity: 0.5;
        transform: rotate(-60deg);
    }
    to {
        opacity: 1;
    }
}